<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/css/style.css' />
</head>
<body>
    <h1>Nutrition App</h1>
    <!-- <p> <img src="C:/Users/Eileanor/Desktop/Food-Image-Recognition-Web-App-main/Test/test.jpg" id="image"> </p> -->
    <p> <img src="https://cypher.cs.wm.edu/chicken-nuggets/nuggets0.jpg" id="image"> </p>
    <p> <button id = "button"> Upload Photo </button> </p>
    <br>   
    <form>  
    Serving Size:  
    <input type="text" name="Name" size="20">  
    <br>
    </form> 
    <p> Nutrient information will appear here </p>
    <!-- <script src="/static/js/myScript.js"></script> -->
</body>
</html>