h1 {
    font-size: 50px;
    color: #326ba8;
}
body {
    text-align: center;
    background-color: #a29e9e;
    font-family: cursive;
}
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}